{% extends 'base.html' %}

{% block title %} alltracks {% endblock %}

{% block content %}
   <h1>all tracks</h1>
   <table width="100%" border="1">
       <tr>
           <th>id</th>
           <th>name</th>
           <th>actions</th>
       </tr>
       
       {% for track in tracks %}
       <tr>
           <td>{{ track.0 }}</td>
           <td>{{ track.1 }}</td>
           <td>
               <a href="{%url 'updatetrack' track.0 %}">update</a> |
               <a href="{%url 'deletetrack' track.0 %}">delete</a>
           </td>
       </tr>
       {% endfor %}
   </table>
{% endblock %}
